.git
.venv
__pycache__
.ruff_cache
.vscode
.ipynb_checkpoints
*.pth
# uv files are needed for building
# uv.lock and pyproject.toml should not be ignored during build

!flower_model_weights.pth
!data/flowers-102
